<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Add Folder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm">
    <ion-list>

      <ion-item>
        <ion-label position="stacked"> Name </ion-label>
        <ion-input type="text" placeholder="Title" formControlName="name"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button type="submit" (click)="submit" expand="block" color="primary" [disabled]="!addForm.valid"> Add </ion-button>
  </form>
</ion-content>
