<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="takePhoto()" full color = "primary"> Take Photo </button>
  <button ion-button (click)="getPhoto()" full color = "secondary"> Get Photo from Library </button>
  <button ion-button (click)="cropPhoto()" full color = "danger"> Crop Photo </button>

</ion-content>
