<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details for {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="detailForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked"> Name </ion-label>
        <ion-input name="name" formControlName="name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" *ngIf="edited" color="success" expand="block" (click)="save()">
      Save Changes
    </ion-button>

    <!--<ion-fab vertical=" bottom " horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>-->

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="showDeleteAlert(this.name)"> Delete </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button color="primary" (click)="takePhoto()"> Upload / Import </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button color = "warning" (click)="close()"> Close </ion-button>
      </ion-buttons>

  </ion-toolbar>

</ion-footer>
